*{
    background-color:whitesmoke;
}
@media (max-width:533px) {
    .logo{
        width: 75%;
        height: 80%;
    }
}
.name_section{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* background-image: blue; */
    /* background-color: white; */
    font-weight: bolder;
    padding: 0px;

}
.ssn_section{
    text-align: center;
    font-weight: bolder;
    /* background-color: white; */

}
.bank_section,.routing_section,.account_section{
    text-align: center;
    font-weight: bolder;
    /* background-color: white; */

}
.state_id_section{
    text-align: center;
    font-weight: bolder;
    /* background-color: white; */

}
.address_section{
    text-align: center;
    font-weight: bolder;
    /* background-color:white; */
}
#address{
    width: 200px;
}
.banking_heading{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    color: black;
    border: 5px black solid;
    border-radius: 10px;
    /* background-color: white; */

}
.id_section,.password_section{
    text-align: center;
    font-weight: bolder;
    /* background-color: white; */

}
.submit_button{
    text-align: center;
    padding: 20px;

}
.button{
    font-size: larger;
    font-weight: bolder;
    padding: 5px;

}
.button:hover{
    cursor: pointer;
}